apiVersion: v1
kind: Config
clusters:
- name: CLUSTER_NAME
  cluster:
    server: API_SERVER
    certificate-authority-data: CA_DATA
users:
- name: USER_NAME
  user:
    client-certificate-data: CLIENT_CERT
    client-key-data: CLIENT_KEY
contexts:
- name: CLUSTER_NAME
  context:
    cluster: CLUSTER_NAME
    user: USER_NAME
